#main {
  @include breakpoint($x-large) {
    max-width: none;
  }
}

.main-grid {
    @include breakpoint($x-large) {
        grid-template-columns: 250px auto 400px;
        max-width: 100%;
        padding: 0 1em;
        gap: 1.5em;
    }
}

.masthead__inner-wrap {
    @include breakpoint($x-large) {
        max-width: none;
    }
} 